# Byte-compiled files
__pycache__/
*.py[cod]

# custom
data/
caches/
results/
tests*.ipynb
*.pdf
analysis/
vis_config.yaml
report/
*.yaml
!scripts/configs/config_example.yaml

# Distribution / packaging
.Python
env/
venv/
ENV/
.env/
.env
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python virtual environments
.venv/
venv/
ENV/
env/

# Test and coverage reports
.coverage
*.cover
*.log
nosetests.xml
coverage.xml
*.hypothesis/
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# C extensions
*.so

# PyInstaller
#  Usually these files are written by a python script from a .spec file
*.spec

# Backup files
*~
*.bak
*.tmp

# Other files
*.DS_Store
*.egg